#recipe-div {
  display: grid;
  width: 70%;
  height: 1004px;
  margin: 104px auto;
  grid-template-areas: "video video info" "ingr ingr ingr" "inst inst inst";
  font-size: 1em;
  background-color: aquamarine;
}

#video-hero {
  background-color: bisque;
  display: grid;
  grid-area: video;
}

#info {
  background-color: palegreen;
  display: grid;
  grid-area: info;
}

#ingredients {
  background-color: aqua;
  display: grid;
  grid-area: ingr;
}

#instruction {
  background-color: gray;
  display: grid;
  grid-area: inst;
}

iframe {
  width: 100%;
  /* height: 376px; */
  align-self: start;
}

h2 {
font-size: 1.5em;
line-height: 32px;
padding: 0px;
margin: 0px;
}
/* .recipe-div {
  width: 60%;
  margin: 40px auto;
}

.info-ul {
  margin-left: 32px;
  display: inline-block;
}
/* * */
li {
  list-style: none;
  margin-bottom: 8px;
} 

.add-to-favorites-button {
  height: 56px;
  padding: 16px;
  border-style: none;
  background-color: white;
  border-color: white;
  border: solid solid red;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(141, 141, 148, 0.16), 0px 4px 8px -2px rgba(141, 141, 148, 0.28);
  margin-bottom: 16px;
}

.ingredient-and-instruction-wrapper {
  width: 100%;
  border: black;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(141, 141, 148, 0.16), 0px 4px 8px -2px rgba(141, 141, 148, 0.28);
}

.instruction-paragraph {
  width: 70%;
  margin: 24px auto;
  background-color: indianred;
}
